body{
    background: linear-gradient(to right, #0f061d, #140a28, #090014);
}
.loginTextLogin {
    margin-top: 5%;
    margin-bottom: 8%; 
    color: white;
}

.emailRegisterLogin, .passwordRegisterLogin {
    margin-bottom: 20px;
    width: 80%; 
    border: 1px solid #FFFFFF; 
    border-radius: 50px;
    padding: 10px 20px;
    background: transparent;
    color: white;
}

.loginPage {
    text-align: center;
    min-height: 100 vh;
}

.loginButton {
    background: linear-gradient(90deg, #7000ff, #00d4ff); 
    border: none;
    color: #fff;
    padding: 12px 30px;
    border-radius: 50px; 
    font-weight: 600;
    transition: all 0.3s ease;
    box-shadow: 0 5px 15px rgba(112, 0, 255, 0.4);
}

.loginButton:hover {
    transform: translateY(-2px);
    box-shadow: 0 7px 20px rgba(112, 0, 255, 0.6);
    background: #361c69;
    color: #FFFFFF;
}